  /* Projects*/
  .project-section .title h1{
    color: #f2dcf7;
    text-align: center;
    margin-bottom: 5vw;
    font-size: 3vw;
    font-family: 'Coiny', cursive;
  }
  .project-section{
    background-color: #260132cf;
    border: 1% solid;
    border-radius: 0.5w;
    margin: 50px;
    padding: 5vw 5vw;
    height: auto;
    scroll-behavior: smooth;
  }
  .flip-container{
    padding: 1vw;
   
  }